@mixin flex($align: null, $direction: null, $justify: null, $self: null, $wrap: null, $content: null, $flow: null) {
  display: flex;
  @if($align) {
    align-items: $align;
  }
  @if($direction) {
    flex-direction: $direction;
  }
  @if($justify){
    justify-content: $justify;
  }
  @if($self){
    align-self: $self;
  }
  @if($wrap){
    flex-wrap: $wrap;
  }
  @if($content){
    align-content: $content;
  }
  @if($flow){
    flex-flow: $flow;
  }
}

@mixin size($h: null, $w: null, $mih: null, $miw: null
, $mah: null, $maw: null) {
  @if($h) {
    height: $h;
  }
  @if($w) {
    width: $w;
  }
  @if($mih) {
    min-height: $mih;
  }
  @if($miw) {
    min-width: $miw;
  }
  @if($mah) {
    max-height: $mih;
  }
  @if($maw) {
    max-width: $maw;
  }
}
