.container{
  display: flex;
  // justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  background-color: red;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

.container-with-content{
  display: flex;
  justify-content: space-between;
  background-color: orange;
  max-width: 60%;
  min-width: 60%;
}
