.header {
  display: flex;
  justify-content: space-between;
  background-color: purple;
  min-width: 100%;
  min-height: 13vh;
  flex-wrap: wrap;
}

.header-flex-end {
  display: flex;
  justify-content: space-between;
  background-color: purple;
  min-width: 100%;
  min-height: 2vh;
  flex-wrap: wrap;
  justify-content: flex-end;
}


.logo{
  background-color: blue;
  min-width: 10vw;
  min-height: 10vh;
  max-height: 10vh;
  max-width: 11vw;
}

.my-Bag{
  background-color: blue;
  min-width: 15vw;
  min-height: 10vh;
  max-height: 10vh;
  max-width: 15vw;
  &-icon{
    background-color: pink;
    min-width: 4vw;
    min-height: 7vh;
    max-height: 7vh;
    max-width: 4vw;

  }
}



.contact{
  flex-direction: row;
  display: flex;
  width: auto;
  text-align: right;
}

.icon{
  width: 1vw;
}

.icon-description{
 width: auto;
}
