@import "_mixins";
@import "_variables";
@import "_mediaQuerys";

.header {
  @include flex($justify: space-between, $wrap: wrap);
  @include size( $mih: 13vh, $miw: 100%);
}

.header-flex-end {
  @include flex($justify: flex-end, $wrap: wrap);
  @include size( $mih: 2vh, $miw: 100%);
}

.logo{
  background-color: $logo-color;
  @include size( $mih: 10vh, $miw: 10vw, $mah: 10vh, $maw: 11vw);
}

.my-Bag{
  @include flex($justify: space-evenly, $flow: inherit, $wrap: wrap, $direction: row);
  @include size( $mih: 10vh, $miw: 12vw, $mah: 10vh, $maw: 12vw);
  background-color: blue;
  &-icon{
    background-color: pink;
    @include size( $h: 8vh, $w: 4vw);
  }
}

.texts{
  @include flex($justify: space-evenly, $direction: column);
}

.texto{
  @include flex();
  @include size( $h: 2vh, $w: max-content);
  background-color: cadetblue;
}
.contact{
  @include size($h: 1em, $w: auto);
  @include flex($direction: row);
  text-align: right;
}
.icon{
  @include size($w:1vw);
  background-color: $body-color;
}

.icon-description{
  @include size($w: auto);
}
