.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 13vh;
  min-width: 100%; }

.header-flex-end {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  min-height: 2vh;
  min-width: 100%; }

.logo {
  background-color: gainsboro;
  min-height: 10vh;
  min-width: 10vw;
  max-height: 10vh;
  max-width: 11vw; }

.my-Bag {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-flow: inherit;
  min-height: 10vh;
  min-width: 12vw;
  max-height: 10vh;
  max-width: 12vw;
  background-color: blue; }
  .my-Bag-icon {
    background-color: pink;
    height: 8vh;
    width: 4vw; }

.texts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.texto {
  display: flex;
  height: 2vh;
  width: max-content;
  background-color: cadetblue; }

.contact {
  height: 1em;
  width: auto;
  display: flex;
  flex-direction: row;
  text-align: right; }

.icon-description {
  width: auto; }
