.header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-width: 100%;
    min-height: 13vh;

    background-color: purple;
}

.header-flex-end
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: flex-end;

    min-width: 100%;
    min-height: 2vh;

    background-color: purple;
}

.logo
{
    min-width: 10vw;
    max-width: 11vw;
    min-height: 10vh;
    max-height: 10vh;

    background-color: blue;
}

.my-Bag
{
    display: flex;
    flex-flow: inherit;
    flex-direction: row;
    justify-content: space-evenly;

    min-width: 12vw;
    max-width: 12vw;
    min-height: 10vh;
    max-height: 10vh;

    background-color: blue;
}
.my-Bag-icon
{
    width: 4vw;
    height: 8vh;

    background-color: aquamarine;
    background-color: pink;
}

.texts
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.texto
{
    display: flex;

    width: max-content;
    height: 2vh;

    background-color: cadetblue;
}

.contact
{
    display: flex;
    flex-direction: row;

    width: auto;

    text-align: right;
}

.icon
{
    width: 1vw;
}

.icon-description
{
    width: auto;
}
