.search {
  border: solid, red;
  display: flex;
  align-content: space-between;
  min-height: 6vh;
  min-width: 40%;
  max-height: 6vh;
  max-width: 40%;
  background-color: green; }
  .search-button {
    min-width: 19%;
    max-width: 19%;
    background-color: black;
    color: white; }

.icon-search {
  max-width: 16%;
  background-color: whitesmoke; }

.input {
  border: none;
  min-width: 65%;
  max-width: 65%;
  min-width: 65%;
  max-width: 65%;
  background-color: whitesmoke; }
